* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.titulo-destaque {
    color: #22d4fd;
}

.apresentação {
    margin: 10% 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 300px;
    border-radius: 25px;
}

.apresentação__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentação__conteudo__titulo {
    font-size: 56px;
    font-family: 'Poppins', sans-serif;  
}

.apresentação__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentação__links{
    display: flex;
    justify-content: space-between;
}

.apresentação__links__link{
    background-color: #22d4fd;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.apresentação__links__link:hover {
    background-color: yellow;
  }